// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
view,
text,
image,
navigator,
input,
scroll-view,
swiper,
swiper-item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}